body {
    background-color: white;
}
.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
   
}

h1 {
    font-size: 50px;
}

button {
    font-size: 15px;
}

input {
    margin: 15px;
    
}

ul {
    padding: 0;
}